.input{
    margin-bottom: 20px;
    &__label{
        text-align: left;
        font-size: 24px;
        color: #363853;
        font-family: "Rubik", "sans-serif";
    }
    &__interact{
        width: 300px;
        height: 30px;
        margin: 5px auto;
        font-size: 16px;
        color: #363853;
        font-family: "Rubik", "sans-serif"; 
        border: 1px solid #363853;
    }
    &__error{
        font-size: 16px;
        color: #F21A1A;
        font-family: "Rubik", "sans-serif";
        margin: 5px auto;  
    }
}