.productPage{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    &__head{
        font-size: 36px;
        color: #363853;
        font-family: "Rubik", "sans-serif";
    }
    &__head-part{
        color: #FF7A50; 
        font-size: 36px; 
        font-family: "Rubik", "sans-serif";
    }
    &__add-product-wrap{
        display: flex;
        margin-left: 100px;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
    &__add-button{
        width: 163px;
        height: 50px;
        background: #FF7A50;
        border: none;
        border-radius: 70px 70px 1px 70px;
        color: #ffffff;
        font-size: 20px;
        font-family: "Rubik", "sans-serif";
        margin-right: 50px;
        transition: transform 0.3s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__products-count{
        font-size: 36px;
        color: #363853;
        font-family: "Rubik", "sans-serif";
    }
    &__products-wrap{
        width: 100%;
        margin-top: 50px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
}